@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: lab(100% 0.01 -0.01);
  /*color: #e5e7eb;*/
  color: #000000;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #7e1fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d00e6;
}

/* Smooth transitions */
a, button {
  transition: all 0.3s ease;
}

/* Text selection */
::selection {
  background-color: #008c38db;
  color: #ffffff;
}
